.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
  }
  
  .productLayout {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* Adjust the space between images and product details */
    
  }
  
  .productImages {
    display: flex;
    align-items: center; /* Align thumbnails and main image vertically */

  }
  
  .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between the thumbnails */
    margin-right: 15px; /* Space between thumbnails and main image */
  }
  
  .thumbnailImage {
    
    height: 60px; /* Reduce size for the thumbnails */
    width: 45px; /* Adjust width */
    object-fit: cover; /* Ensure the image covers the area */
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Add smooth zoom effect on hover */
  }
  
  .thumbnailImage:hover {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
  }
  
  .mainImage {
    width: 300px;
    height: 400px; /* Reduced size of the main image */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainImageDisplay {
    max-width: 100%; /* Ensure image is responsive */
    max-height: 100%; /* Ensure image fits within the container */
    object-fit: contain; /* Keep the aspect ratio and display the whole image */
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add shadow to the main image */
  }
  
  /* Product Information Styles */
  .productInfo {
    max-width: 500px; /* Restrict the width of the product information */
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .productTitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .rating {
    display: flex;
    gap: 2px;
    margin: 0;
  }
  
  .filled-star, .empty-star {
    font-size: 20px;
    color: #f39c12; /* Yellow color for filled stars */
  }
  
  .productPrice {
    font-size: 24px;
    color: #e74c3c; /* Red color for price */
    font-weight: bold;
    margin: 0;
  }
  
  .productDescription {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .actionButtons {
    display: flex;
    gap: 15px;
  }
  
  .addToCart, .buyNow {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .addToCart {
    background-color: #28a745;;
    color: white;
  }
  
  .buyNow {
    background-color: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  }
  .buyNow:hover{
    background-color: #007bff;
    color: white;
  }
  .addToCart:hover{
    background-color: #218838;
  }
  
  /* User Rating Section */
  .userRating {
    margin-top: 20px;
  }
  
  .userRating span {
    cursor: pointer;
    font-size: 24px;
  }
  
  .userRating .filled-star {
    color: #f39c12;
  }
  
  .userRating .empty-star {
    color: #ccc;
  }
  